<div class="row">
  <div class="col-12">
    <alert></alert>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Vehicle Information</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <b>ID</b>: {{vehicle?.id}} <br>
        <b>License Plate</b>: {{vehicle?.licensePlate}} <br>
        <b>Vehicle Type</b>: {{vehicle?.type}}
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <h1>Vehicle Journeys</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Journey Started at</th>
        <th>Journey Ended at</th>
        <th>Last received</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of vehicle?.journeys">
        <td>{{ u.id }}</td>
        <td> {{(u.journeyData[0].time | date: 'LLLL dd, yyyy HH:mm:ss.SSS')}}</td>
        <td> {{u.finished != false ? (u.journeyData[u.journeyData.length - 1].time | date: 'LLLL dd, yyyy HH:mm:ss.SSS') : 'Active Journey' }}</td>
        <td *ngIf="u.finished == false; else isFinished">
          {{(u.journeyData[u.journeyData.length - 1].time | date: 'LLLL dd, yyyy HH:mm:ss.SSS')}}
        </td>
        <ng-template #isFinished>
          <td>
            Journey Ended
          </td>
        </ng-template>
        <td>
          <button class="btn btn-info" data-toggle="modal" data-target="#showDataModal" (click)="setShowDataModal(u)"><i class="fa fa-eye"></i></button>
        </td>

        <!-- Modal Start -->
        <div *ngIf="showDataModal">
          <div class="modal fade" id="showDataModal" tabindex="-1" role="dialog" aria-labelledby="showDataModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Journey Data of vehicle {{selectedToShowData.vehicle.licensePlate}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>

                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Timestamp</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let u of selectedToShowData?.journeyData">
                        <td>{{u.longitude}}</td>
                        <td>{{u.latitude}}</td>
                        <td>{{(u.time | date: 'LLLL dd, yyyy HH:mm:ss.SSS')}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</div>