<div class="row">
  <div class="col-12">
    <alert></alert>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Vehicles</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>LicensePlate</th>
        <th>Vehicle Type</th>
        <th>Journeys</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of vehicles">
        <td>{{ u.id }}</td>
        <td>{{ u.licensePlate}}</td>
        <td>{{ u.type != undefined ? u.type : 'unknown' }}</td>
        <td>{{ u.journeys != undefined ? u.journeys.length : 0}}</td>
        <td>
          <a class="btn btn-info" [routerLink]="'/vehicles/' + u.licensePlate"><i class="fa fa-eye"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>